
<!DOCTYPE html>
<html>
  
  <head>
    
    <title>Nice!</title>
    
    <link rel="stylesheet" type="text/css" href="/style3.css">
    
  </head>  
  
  <body>
    
    <p>
   
     Great! You have now logged in!
     
    </p>
    
    <p>
       Subject:
    </p>
    <textarea id="subjectArea" rows="1" cols="150" class= "textPara"></textarea> 
    <br><button id= "submitArticle">Submit Ready Article</button> <br><p id="infoa">
    </p>
    <p>
      Add image URLs: 
    </p>
    <textarea id= "linkPlace1" rows="1" cols= "150"></textarea><br>
    <textarea id= "linkPlace2" rows="1" cols= "150"></textarea><br>
    <p>
      Paragraphs:
    </p>
    <textarea id="para1" class= "textPara" rows="15" cols="150"></textarea>  
    <textarea id="para2" class= "textPara" rows="15" cols="150"></textarea> 
    <textarea id="para3" class= "textPara" rows="15" cols="150"></textarea> 
    <textarea id="para4" class= "textPara" rows="15" cols="150"></textarea> 
    <textarea id="para5" class= "textPara" rows="15" cols="150"></textarea> 
    <textarea id="para6" class= "textPara" rows="15" cols="150"></textarea> 
    <textarea id="para7" class= "textPara" rows="15" cols="150"></textarea> 
    <textarea id="para8" class= "textPara" rows="15" cols="150"></textarea> 
    <textarea id="para9" class= "textPara" rows="15" cols="150"></textarea> 
    <textarea id="para10" class= "textPara" rows="15" cols="150"></textarea> 
    <textarea id="para11" class= "textPara" rows="15" cols="150"></textarea> 
    <textarea id="para12" class= "textPara" rows="15" cols="150"></textarea> 
    <textarea id="para13" class= "textPara" rows="15" cols="150"></textarea> 
    <textarea id="para14" class= "textPara" rows="15" cols="150"></textarea> 
    <textarea id="para15" class= "textPara" rows="15" cols="150"></textarea> 
    <textarea id="para16" class= "textPara" rows="15" cols="150"></textarea>  
    <textarea id="para17" class= "textPara" rows="15" cols="150"></textarea> 
    <textarea id="para18" class= "textPara" rows="15" cols="150"></textarea> 
    <textarea id="para19" class= "textPara" rows="15" cols="150"></textarea> 
    <textarea id="para20" class= "textPara" rows="15" cols="150"></textarea>  
    <textarea id="para21" class= "textPara" rows="15" cols="150"></textarea> 
    <textarea id="para22" class= "textPara" rows="15" cols="150"></textarea> 
    <textarea id="para23" class= "textPara" rows="15" cols="150"></textarea> 
    <textarea id="para24" class= "textPara" rows="15" cols="150"></textarea> 
    <textarea id="para25" class= "textPara" rows="15" cols="150"></textarea> 
    <textarea id="para26" class= "textPara" rows="15" cols="150"></textarea> 
    <textarea id="para27" class= "textPara" rows="15" cols="150"></textarea> 
    <textarea id="para28" class= "textPara" rows="15" cols="150"></textarea> 
    <textarea id="para29" class= "textPara" rows="15" cols="150"></textarea> 
    <textarea id="para30" class= "textPara" rows="15" cols="150"></textarea> 

    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    
    <script src="/client3.js"></script>
    
  </body>
  
</html>
