<!DOCTYPE html>
<html>
  
  <head>
    
    <link rel="stylesheet" type="text/css" href="/style.css">
    
    <link href="https://fonts.googleapis.com/css?family=Mina" rel="stylesheet">
    
  </head>  
  
  <body>
    
    <center>  
    
    <div id="loginit">

      <h2>Register user:</h2>

      <form id="registerForm">
      <!-- <form action = "/users" method= "post"> -->  

        <label for = "usernameX">User Name :</label>
        <input type="text" id="usernameX" size ="40" /> <br>
        <label for = "passwordX">Password :</label>
        <input type="password" id="passwordX" size ="40" />
      
      </form>
      
      <button id= "submitRegister">Submit</button> <br>

      <p id= "infoBox2"></p>

    </center>  
    
    </div>

    <footer>

    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>