
<!DOCTYPE html>
<html>
  
  <head>
    
    <link rel="stylesheet" type="text/css" href="/style.css">
    
    <link href="https://fonts.googleapis.com/css?family=Mina" rel="stylesheet">
    
  </head>  
  
  <body>
    
    <center>  
    
    <div id="loginit">

      <h2>Please log in:</h2>

      <form id= "loginForm">
      <!-- <form action = "/adder" method= "post"> -->  

      <label for="username">User Name :</label>
      <input type="text" id="username" size ="40" /> <br>
      <label>Password :</label>
      <input type="password" id="password" size ="40" />
      
      </form>
      
      <button id= "submitLogin">Submit</button> <br>

      <p id= "infoBox"></p>

    </center>  
    
    </div>

    <footer>

    </footer>

    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
